.table_of_contents {
	padding: 0.5rem;
	background-color: var(--footer);
}

.intro > h1 {
	margin-top: 1rem;
}

.intro > * {
	margin-bottom: 1rem;
}

.latest > hr {
	margin-bottom: 1rem;
}

#latest > div {
	margin-bottom: 1rem;
}
