nav {
	background-color: var(--accent);
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	padding: 1rem;
	border-bottom: 1px solid black;
}

nav i {
	font-size: 2rem;
}

nav > h1 {
	grid-column: span 2;
	margin: 0;
	color: var(--text);
	width: 100%;
}

nav > ul {
	grid-column: span 2;
	font-size: large;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	background-color: var(--accent);
	margin: 0;
	padding: 0;
}


nav > ul > li {
	text-decoration: none;
}

.hidden {
	right: -100%;
}

#close_nav {
	text-align: right;
}

@media only screen and (min-width: 650px) {

	nav > h1 {
		grid-column: span 1;
	}

	nav > ul {
		grid-column: span 1;
		justify-content: flex-end;
	}

	nav > ul > li {
		margin-right: 1rem;
	}

	.hamburger {
		display: none;
	}

	#close_nav {
		display: none;
	}

	.hidden {
		right: 0;
	}
}
