main {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.other_til_toggle {
	display: flex;
	align-items: center;
	padding: 1rem;
}

.til_arrow {
	margin-right: 1rem;
}

.til_collapsed {
	height: 0;
	overflow: hidden;
}

.arrow_hidden {
	display: none;
}

#TIL {
	padding: 1rem;
}

#TIL > h1 {
	margin-top: 0;
}

#prev_next {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

#other_til h3 {
	margin: 1rem 0;
}

.comments {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-flow: row dense;
	padding: 1rem;
	border: 2px solid var(--accent);
	border-radius: 0.5rem;
}

.comment_form {
	grid-column: 1 / 12;
	display: flex;
	flex-direction: column;
	padding-right: 1rem;
	border-right: 1px solid var(--accent);
}

.comment_form > h2 {
	margin: 0;
}

.input_areas {
	margin: 0.5rem 0;
	padding: 0.5rem;
	background: transparent;
	border-radius: 0.5rem;
	border: 2px solid var(--accent);
	color: var(--text);
}

input[type="submit"] {
	background-color: var(--button);
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem;
	color: var(--text);
}

#comments_list {
	grid-column: 1 / 12;
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

@media only screen and (min-width: 650px) {
	.other_til_toggle {
		display: none;
	}

	.til_collapsed {
		height: initial;
		overflow: auto;
	}

	main {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-auto-flow: row dense;
		grid-gap: 1rem;
	}

	#other_til {
		grid-column: 1 / 4;
		height: min-content;
	}

	#TIL {
		grid-column: 4 / 13;
		height: min-content;
	}

	#prev_next {
		grid-column: 1 / 13;
	}

	.comments {
		grid-column: 1 / 13;
		grid-row: 3 / 4;
	}

	.comment_form {
		grid-column: 1 / 4;
	}

	#comments_list {
		grid-column: 4 / 13;
	}
}
