#screenshot-previewer {
	position: absolute;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	height: 0;
	padding: 2rem;
}

#screenshot-previewer > div {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: repeat(12, 1fr);
	grid-template-columns: repeat(4, 1fr);
	background-color: var(--primary);
	border-radius: 0.5rem;
	overflow: hidden;
	gap: 0.5rem;
}

#screenshot-previewer > div > * {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#previewer-title {
	grid-column: 1 / 5;
	grid-row: 1 / 2;
}

#previewer-image {
	grid-column: 1 / 5;
	grid-row: 2 / 13;
	padding: 0.5rem;
}

#previewer-image img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
}

.project {
	background-color: black;
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.project-img-container, .project-name-container, .project-data-container {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 0.5rem;
	overflow: hidden;
}

.project-img-container, .project-data-container {
	bottom: 0;
}

#project-4 {
	padding: 0.5rem;
	background-color: var(--accent);
}

#project-4 > h1 {
	font-size: calc(2dvh + 2dvw);
}

.project-name-container {
	top: 0;
	flex-direction: column;
	gap: 0.5rem;
}

.project-name-container > h1 {
	font-size: clamp(0.5rem, calc(2dvh + 2dvw), 1.5rem);
}

.project-tech-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	flex-wrap: wrap;
	width: 100%;
}

.project-tech-img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--text);
	padding: 0.25rem;
	border-radius: 0.25rem;
	max-width: 100%;
}

.project-tech-img-container > img {
	max-height: calc(1dvh + 1dvw);
}

.project-name-container, .project-data-container {
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
	backdrop-filter: blur(0.3rem);
	transition: all 300ms ease-in-out;
	width: 100%;
	padding: 0;
}

.project:hover > .project-name-container {
	height: 0%;
	padding: 0;
}

.project:hover > .project-data-container {
	height: 100%;
	padding: 0.5rem;
	background-color: rgba(0,0,0,0.8);
	backdrop-filter: blur(0.5rem);
}

.project-data-container {
	height: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5rem;
}

.project-data-container * {
	max-width: 100%;
	white-space: normal;
	text-align: center;
}

.project-data-container > h4 {
	font-size: clamp(0.5rem, calc(1dvh + 1dvw), 1.5rem);
}

.buttons {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.buttons > a {
	flex-grow: 1;
	display: flex;
	cursor: pointer;
}

.buttons button {
	cursor: pointer;
	flex-grow: 1;
	padding: 0.5rem 1rem;
	background-color: var(--accent);
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 0.5rem;
	color: var(--text);
	gap: 0.5rem;
}

.buttons button > span {
	display: none;
}

.project-img-container > img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

@keyframes project-1-enter {
	from {
		opacity: 0;
		transform: translateY(-5rem);
	} to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes project-1-leave {
	from {
		opacity: 1;
		transform: translateX(0);
	} to {
		opacity: 0;
		transform: translateX(-5rem);
	}
}

#project-1 {
	grid-row: 1 / 4;
	grid-column: 1 / 13;
	opacity: 0;
	transform: translateX(-5rem);
}

@keyframes project-2-enter {
	from {
		opacity: 0;
		transform: translateY(-5rem);
	} to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes project-2-leave {
	from {
		opacity: 1;
		transform: translateY(0);
	} to {
		opacity: 0;
		transform: translateY(-5rem);
	}
}

#project-2 {
	grid-row: 4 / 7;
	grid-column: 5 / 13;
}

@keyframes project-3-enter {
	from {
		opacity: 0;
		transform: translateY(3rem);
	} to {
		opacity: 1;
		transform: translateY(0.5);
	}
}

@keyframes project-3-leave {
	from {
		opacity: 1;
		transform: translateY(0.5);
	} to {
		opacity: 0;
		transform: translateY(3rem);
	}
}

#project-3 {
	grid-row: 1/1;
	grid-column: 1/1;
	display: none;
}

@keyframes project-4-enter {
	from {
		opacity: 0.5;
		scale: 1.1;
	} to {
		opacity: 1;
		scale: 1;
	}
}

@keyframes project-4-leave {
	from {
		opacity: 1;
		scale: 1;
	} to {
		opacity: 0.5;
		scale: 1.1;
	}
}

#project-4 {
	grid-row: 4 / 6;
	grid-column: 1 / 5;
}

@keyframes project-5-enter {
	from {
		opacity: 0;
		transform: translateY(5rem);
	} to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes project-5-leave {
	from {
		opacity: 1;
		transform: translateY(0);
	} to {
		opacity: 0;
		transform: translateY(5rem);
	}
}

#project-5 {
	grid-row: 7 / 10;
	grid-column: 5 / 13;
}

@keyframes project-6-enter {
	from {
		opacity: 0;
		transform: translateX(5rem);
	} to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes project-6-leave {
	from {
		opacity: 1;
		transform: translateX(0);
	} to {
		opacity: 0;
		transform: translateX(5rem);
	}
}

#project-6 {
	grid-row: 10 / 13;
	grid-column: 1 / 13;
}

@keyframes project-7-enter {
	from {
		opacity: 0;
		transform: translateY(-3rem);
	} to {
		opacity: 1;
		transform: translateY(0.5);
	}
}

@keyframes project-7-leave {
	from {
		opacity: 1;
		transform: translateY(0.5);
	} to {
		opacity: 0;
		transform: translateY(-3rem);
	}
}

#project-7 {
	grid-row: 6 / 10;
	grid-column: 1 / 5;
}

@media only screen and (min-width: 650px) {

	@keyframes project-1-enter {
		from {
			opacity: 0;
			transform: translateX(-5rem);
		} to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes project-1-leave {
		from {
			opacity: 1;
			transform: translateX(0);
		} to {
			opacity: 0;
			transform: translateX(-5rem);
		}
	}

	#project-1 {
		grid-row: 1 / 5;
		grid-column: 1 / 9;
		opacity: 0;
		transform: translateX(-5rem);
	}

	@keyframes project-2-enter {
		from {
			opacity: 0;
			transform: translateY(-5rem);
		} to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes project-2-leave {
		from {
			opacity: 1;
			transform: translateY(0);
		} to {
			opacity: 0;
			transform: translateY(-5rem);
		}
	}

	#project-2 {
		grid-row: 1 / 6;
		grid-column: 9 / 13;
	}

	@keyframes project-3-enter {
		from {
			opacity: 0;
			transform: translateY(3rem);
		} to {
			opacity: 1;
			transform: translateY(0.5);
		}
	}

	@keyframes project-3-leave {
		from {
			opacity: 1;
			transform: translateY(0.5);
		} to {
			opacity: 0;
			transform: translateY(3rem);
		}
	}

	#project-3 {
		grid-row: 5 / 7;
		grid-column: 1 / 5;
		display: flex;
	}

	@keyframes project-4-enter {
		from {
			opacity: 0.5;
			scale: 1.1;
		} to {
			opacity: 1;
			scale: 1;
		}
	}

	@keyframes project-4-leave {
		from {
			opacity: 1;
			scale: 1;
		} to {
			opacity: 0.5;
			scale: 1.1;
		}
	}

	#project-4 {
		grid-row: 5 / 9;
		grid-column: 5 / 9;
	}

	@keyframes project-5-enter {
		from {
			opacity: 0;
			transform: translateY(5rem);
		} to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes project-5-leave {
		from {
			opacity: 1;
			transform: translateY(0);
		} to {
			opacity: 0;
			transform: translateY(5rem);
		}
	}

	#project-5 {
		grid-row: 7 / 13;
		grid-column: 1 / 5;
	}

	@keyframes project-6-enter {
		from {
			opacity: 0;
			transform: translateX(5rem);
		} to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes project-6-leave {
		from {
			opacity: 1;
			transform: translateX(0);
		} to {
			opacity: 0;
			transform: translateX(5rem);
		}
	}

	#project-6 {
		grid-row: 9 / 13;
		grid-column: 5 / 13;
	}

	@keyframes project-7-enter {
		from {
			opacity: 0;
			transform: translateY(-3rem);
		} to {
			opacity: 1;
			transform: translateY(0.5);
		}
	}

	@keyframes project-7-leave {
		from {
			opacity: 1;
			transform: translateY(0.5);
		} to {
			opacity: 0;
			transform: translateY(-3rem);
		}
	}

	#project-7 {
		grid-row: 6 / 9;
		grid-column: 9 / 13;
	}

	.buttons button > span {
		display: initial;
	}

}
