
.parallax {
    width: 100vw; 
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}
header {
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
header > img {
    position: absolute;
    height: 150vh;
    top: 20%;
    z-index: -1;
    object-fit: cover;
    transform: translateZ(-10px) scale(2);
}
section {
    height: auto;
    min-height: 100vh;
}
.about {
    background-color: rgba(100, 100, 100, 0.7);
}
