
.parallax {
    width: 100vw; 
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}
header {
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
header > img {
    width: 100vw;
    top: 20%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    transform: translateZ(-10px) scale(2.5);
    filter: blur(5px);
}
section {
    height: auto;
    min-height: 100vh;
}
.about {
    background-color: rgba(100, 100, 100, 0.7);
}
.home {
    min-width: 100vw;
    min-height: 100vh;
    color: white;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
}
.title-container {
    height: 60vh;
    width: 60vw;
    background-color: rgba(150, 150, 150, 0.3);
}
