body {
    overflow: hidden;
    height: 100vh;
}
.parallax {
    width: 100vw; 
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
img {
    width: 100vw;
    min-width: 100vw;
    min-height: 300vh;
    top: 20%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    transform: translateZ(-10px) scale(2.5);
    filter: blur(5px);
}
section {
    height: auto;
    min-height: 100vh;
    color: white;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
}
.about {
    background-color: rgba(50, 50, 50, 0.7);
}
.content {
    background-color: rgba(50, 50, 50, 0.7);
}
footer {
    background-color: rgba(50, 50, 50, 0.95);
}
.top-right-logo {
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
}
.title-container {
    font-size: 70%;
    height: 60vh;
    width: 60vw;
    background-color: rgba(150, 150, 150, 0.3);
}
